<div style= "text-align:center;line-height:100%;padding:10px;">
    <!--アクセスゲスト登録ボタンを表示-->
    <%= form_tag callapi_getaccessuser_path do %>
      <input type="submit" value="アクセスゲスト登録" class="btn primary-btn">
    <%end%>
</div>