<div style= "text-align:center;line-height:100%;padding:10px;">
  <h2>ConnectシステムのAPI認証を行います</h2>
  <p>以下に、LockState Connectの情報を入力してください</p>
</div>

<div style= "text-align:center;line-height:100%;padding:50px;">
  <!--getcode.htmlに送信-->
  <%= form_tag aouthsetup_getcode_path do %>
  
    <p>アカウントメールアドレス</p>
    <input type="text" class="form-control title-field" name="email" style="width:500px" value="demo@remotelock.com">
    <p>クライアントID</p>
    <!--<input type="text" class="form-control title-field" name="clientId" style="width:500px" value="a4b24a461019d48457c7ad108b7e53c9c499cb43206da51936e9dc240f68e45e">-->
    <input type="text" class="form-control title-field" name="clientId" style="width:500px" value="fd90f0372330839027d9cdc0a409c47913384f75692fc5787eb050fba29ceea9">
    <p>シークレット</p>
    <!--<input type="text" class="form-control title-field" name="clientSecret" style="width:500px" value="668d261cd6c279440cc74aded86ce40c643ef1b1b16608f8782cc213832bdc31">-->
    <input type="text" class="form-control title-field" name="clientSecret" style="width:500px" value="5cc3e1d20426eb2f84251facdec69f7d53ee9c88986f2a236e82c98fbcb4afac">
    <p>デバイスID</p>
    <input type="text" class="form-control title-field" name="deviceId" style="width:500px" value="09ca0c78-b289-408a-95e1-202de97be912">
    
    
    <input type="submit" value="送信" class="btn primary-btn">
  
  <%end%>
</div>